@section style {
    <style type="text/css">
        body {
            background-color: #32A060;
        }

        input[type=text] {
            max-width: 690px;
        }
    </style>
}

<div id="formCadastro" class="container-login">
    <img src="~/imagem/logo.png" />
    <h1>ZapWeb</h1>
    <div class="container-form">
        <input id="nome" type="text" placeholder="Nome" />
        <br />
        <input id="email" type="text" placeholder="E-mail" />
        <br />
        <input id="senha" type="text" placeholder="Senha" />

        <div class="container-button">
            <input id="btnCadastrar" type="button" value="CADASTRAR" />
        </div>
    </div>

    <span id="campo-mensagem"></span>
</div>