@section style {
    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }

        .container-button {
            display: none;
        }
    </style>
}

<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
        <img src="~/imagem/logo.png" style="width: 50%;" />
        <a id="btnSair" href="#">Sair</a>
    </div>
    <div id="users">
    </div>

</div>

<!-- Page content -->
<div id="paginaConversacao" class="main">
    <div class="container-messages">
        <center>
            <h3>Abra uma conversa existente ou inicie uma nova! ;)</h3>
        </center>
    </div>

    <div class="container-button">
        <input id="mensagem" type="text" placeholder="Mensagem" />
        <button id="btnEnviar" class="btn-send"></button>
    </div>
</div>